**Player Count**

* Total Number of Players

**Purchasing Analysis (Total)**

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

**Gender Demographics**

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

**Purchasing Analysis (Gender)** 

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Age Demographics**

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

**Most Profitable Items**

* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [1]:
#dependencies
import pandas as pd
import os
import numpy as np

In [2]:
#determine whether we need to merge two or more files

passed_merge_input = False
passed_confirmation_input = False
while passed_merge_input != True:
    merge_choice = input("Would you like to use (1) file or merge (2)?")
    if merge_choice == '2':
        passed_merge_input = True
        print("Great let's merge your files.")
    elif merge_choice == '1':
        passed_merge_input = True
    else:
        print("Sorry, I don't understand. Please select a valid choice.")

Would you like to use (1) file or merge (2)?1

In [3]:
#process fork for when only 1 input file
if merge_choice == '1':
    file_name = input("Let's Analyze your file. Please enter a json file name in the same directory as this program excluding the extension.")                  
    #define usable file_path with user input
    
    file_path = (str(file_name) + ".json")
    
    #read json file and convert into dataframe
    
    full_table_df = pd.read_json(file_path)
    full_table_df

Let's Analyze your file. Please enter a json file name in the same directory as this program excluding the extension.purchase_data

In [4]:
#process for 2 input files

while passed_confirmation_input != True:
    if merge_choice == '2':
        file_name = input("File 1 - Please enter a json file name in the same directory as this program, excluding the extension.")
        file_path = (str(file_name) + ".json")
        file_name2 = input("File 2 - Please enter a json file name in the same directory as this program, excluding the extension.")
        file_path2 = (str(file_name2) + ".json")
    confirmed = input("The files you selected are " + str(file_name) + ".json & " + str(file_name2) + ".json. Is this correct? (Y)")
    confirmed = confirmed.lower()
    if confirmed == 'y':
        print("Preparing Output")
        passed_confirmation_input = True
    
full_table_df2 = pd.read_json(file_path)
full_table_df3 = pd.read_json(file_path2)

full_table_df = pd.merge(full_table_df2, full_table_df3, how='inner')

NameError: name 'file_name2' is not defined

In [5]:
full_table_df

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66
756,22,Male,6,Rusty Skull,1.20,Siasri67
757,35,Male,11,Brimstone,2.52,Seosri62
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87
760,29,Male,81,Dreamkiss,4.06,Aerithllora36
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
762,36,Male,52,Hatred,4.39,Lisosiast26
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25
764,25,Male,70,Hope's End,3.89,Assassasda84
765,15,Male,13,Serenity,1.49,Aerithnucal56
766,22,Female,84,Arcane Gem,2.23,Nitherian58
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78
770,22,Male,141,Persuasion,3.27,Aenasu69
771,24,Male,25,Hero Cane,1.03,Lassista97
772,15,Male,31,Trickster,2.07,Sidap51
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63
774,24,Male,123,Twilight's Carver,1.14,Lassassast73
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [6]:
nPlayers = full_table_df[['SN']].nunique()
TotalPlayers_df = pd.DataFrame({'Total Players':nPlayers})

In [7]:
TotalPlayers_df

    Total Players
SN            573

In [8]:
nUniqueItems = full_table_df['Item ID'].nunique()
avgPrice = full_table_df['Price'].mean()
nPurchases = full_table_df.count()
totalRevenue = full_table_df['Price'].sum()

purchasingAnalysis_df = pd.DataFrame({'Unique Items': nUniqueItems, 
                                     'Average Purchase Price': avgPrice,
                                     'Total Number of Purchases': nPurchases,
                                     'Total Revenue':totalRevenue})

purchasingAnalysis_df.head(1)

,Average Purchase Price,Total Number of Purchases,Total Revenue,Unique Items
Age,2.931192,780,2286.33,183

In [9]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

gender_df = full_table_df.groupby('Gender')

genderpurchase = gender_df['SN'].count()
genderpurchase_df = pd.DataFrame({
    "Count" : genderpurchase,
    "Percentage" : genderpurchase/779})

genderpurchase_df

                       Count  Percentage
Gender
Female                   136    0.174583
Male                     633    0.812580
Other / Non-Disclosed     11    0.014121

In [10]:
'''
The below each broken by gender
Purchase Count
Average Purchase Price
Total Purchase Value
Normalized Totals
'''

gender_sum = full_table_df.groupby(by='Gender')['Price'].sum()
gender_avg = full_table_df.groupby(by='Gender')['Price'].mean()
gender_total = full_table_df.groupby(by='Gender')['SN'].count()
gender_total_normal = full_table_df.groupby(by='Gender')['Price'].sum()

gender_analysis_df = pd.DataFrame({
    "Purchase Sum" : gender_sum,
    "Purchase Average" : round(gender_avg, 2),
    "Purchase Count" : gender_total,
    "Normalized Total" : gender_total_normal})

gender_analysis_df = gender_analysis_df[['Purchase Sum', 
                                        'Purchase Average', 
                                        'Purchase Count', 
                                        'Normalized Total']]
gender_analysis_df

,Purchase Sum,Purchase Average,Purchase Count,Normalized Total
Gender,,,,
Female,382.91,2.82,136,382.91
Male,1867.68,2.95,633,1867.68
Other / Non-Disclosed,35.74,3.25,11,35.74

In [11]:
'''
The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
Purchase Count
Average Purchase Price
Total Purchase Value
Normalized Totals
'''

bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 49]
full_table_df['Age Bracket'] = pd.cut(full_table_df['Age'], bins)

binned_sum = full_table_df.groupby(by='Age Bracket')['Price'].sum()
binned_avg = full_table_df.groupby(by='Age Bracket')['Price'].mean()
binned_total = full_table_df.groupby(by='Age Bracket')['SN'].count()
binned_total_normal = full_table_df.groupby(by='Age Bracket')['Price'].sum()

binned_analysis_df = pd.DataFrame({
    "Purchase Sum" : binned_sum,
    "Purchase Average" : round(binned_avg, 2),
    "Purchase Count" : binned_total,
    "Normalized Total" : binned_total_normal})

binned_analysis_df = binned_analysis_df[['Purchase Sum', 
                                        'Purchase Average', 
                                        'Purchase Count', 
                                        'Normalized Total']]
binned_analysis_df

             Purchase Sum  Purchase Average  Purchase Count  Normalized Total
Age Bracket
(0, 9]              83.46              2.98              28             83.46
(9, 14]             96.95              2.77              35             96.95
(14, 19]           386.42              2.91             133            386.42
(19, 24]           978.77              2.91             336            978.77
(24, 29]           370.33              2.96             125            370.33
(29, 34]           197.25              3.08              64            197.25
(34, 39]           119.40              2.84              42            119.40
(39, 44]            51.03              3.19              16             51.03
(44, 49]             2.72              2.72               1              2.72

In [12]:
'''
Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
SN
Purchase Count
Average Purchase Price
Total Purchase Value
'''

player_num = full_table_df.groupby(by='SN')['SN'].max()
player_count = full_table_df.groupby(by='SN')['Price'].count()
player_avg = full_table_df.groupby(by='SN')['Price'].mean()
player_total = full_table_df.groupby(by='SN')['Price'].sum()

player_analysis_df = pd.DataFrame({
    "Serial Number" : player_num,
    "Purchase Count" : player_count,
    "Average Purchase Price" : player_avg,
    "Total Purchase Value" : player_total})
    
player_analysis_df = player_analysis_df[['Serial Number', 
                                        'Average Purchase Price', 
                                        'Purchase Count', 
                                        'Total Purchase Value']]

player_analysis_df.sort_values(by='Total Purchase Value', ascending=False).head(5)

,Serial Number,Average Purchase Price,Purchase Count,Total Purchase Value
SN,,,,
Undirrala66,Undirrala66,3.412000,5,17.06
Saedue76,Saedue76,3.390000,4,13.56
Mindimnya67,Mindimnya67,3.185000,4,12.74
Haellysu29,Haellysu29,4.243333,3,12.73
Eoda93,Eoda93,3.860000,3,11.58

In [13]:
'''
Most Popular Items

Identify the 5 most popular items by purchase count, then list (in a table):
Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value
'''
item_id = full_table_df.groupby(by='Item ID')['Item ID'].max()
item_name = full_table_df.groupby(by='Item ID')['Item Name'].max()
item_count = full_table_df.groupby(by='Item ID')['Price'].count()
item_price = full_table_df.groupby(by='Item ID')['Price'].max()
item_total = full_table_df.groupby(by='Item ID')['Price'].sum()

item_analysis_df = pd.DataFrame({
    "Item ID" : item_id,
    "Item Name" : item_name,
    "Purchase Count" : item_count,
    "Item Price" : item_price,
    "Total Purchase Value" : item_total})
    
item_analysis_df = item_analysis_df[['Item ID', 
                                        'Item Name', 
                                        'Purchase Count', 
                                        'Item Price',
                                        'Total Purchase Value']]

item_analysis_df.sort_values(by='Purchase Count', ascending=False).head(5)

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,,
39,39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,84,Arcane Gem,11,2.23,24.53
31,31,Trickster,9,2.07,18.63
175,175,Woeful Adamantite Claymore,9,1.24,11.16
13,13,Serenity,9,1.49,13.41

In [14]:
'''
Identify the 5 most profitable items by total purchase value, then list (in a table):
Item ID
Item Name
Purchase Count
Item Price
Total Purchase Value
'''
profit_id = full_table_df.groupby(by='Item ID')['Item ID'].max()
profit_name = full_table_df.groupby(by='Item ID')['Item Name'].max()
profit_count = full_table_df.groupby(by='Item ID')['Price'].count()
profit_price = full_table_df.groupby(by='Item ID')['Price'].max()
profit_total = full_table_df.groupby(by='Item ID')['Price'].sum()

profit_analysis_df = pd.DataFrame({
    "Item ID" : profit_id,
    "Item Name" : profit_name,
    "Purchase Count" : profit_count,
    "Item Price" : profit_price,
    "Total Purchase Value" : profit_total})
    
profit_analysis_df = item_analysis_df[['Item ID', 
                                        'Item Name', 
                                        'Purchase Count', 
                                        'Item Price',
                                        'Total Purchase Value']]

profit_analysis_df.sort_values(by='Item Price', ascending=False).head(5)

,Item ID,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,,
32,32,Orenmir,6,4.95,29.70
177,177,"Winterthorn, Defender of Shifting Worlds",4,4.89,19.56
103,103,Singed Scalpel,6,4.87,29.22
173,173,Stormfury Longsword,5,4.83,24.15
131,131,Fury,4,4.82,19.28